.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  opacity: 0.8;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
